@model KinKanMai.Models.Menu;
@{
    ViewData["Title"] = "Save Data";
}

@{
    Guid uniqueId = Guid.NewGuid();
}

<h2 class="text-center">ADD</h2>
<form method="POST" asp-controller="Home" asp-action="Add">
    
    <div class="form-group">
        <label asp-for="MenuId"></label>
        <input type="text" asp-for="MenuId" class="form-control" value="@uniqueId.ToString()" readonly />
        <span asp-validation-for="CanteenName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CanteenName"></label>
        <select>
            
            <option value="">-- โปรดเลือก --</option>
            <option value="ร้านเทคโนอินเตอร์ kmitl inter food">ร้านเทคโนอินเตอร์ kmitl inter food</option>
            <option value="ร้านอินดรีส indris">ร้านอินดรีส indris</option>
            <option value="ร้านไอเย็น i-yen" >ร้านไอเย็น i-yen </option>
            <option value="ร้านพี่ฝน กาแฟสด&น้ำปั่น">ร้านพี่ฝน กาแฟสด&น้ำปั่น</option>
           
        </select>
        @*<label asp-for="CanteenName"></label>
        <input type="text" asp-for="CanteenName" class="form-control" />
        <span asp-validation-for="CanteenName" class="text-danger"></span>*@
    </div>
    <div class="form-group">
        <label asp-for="FoodName"></label>
        <input type="text" asp-for="FoodName" class="form-control" />
        <span asp-validation-for="FoodName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cost"></label>
        <input type="text" asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary my-2">Submit</button>
</form>